{% for comment in comments %}
    <li class="border border-gray-300 rounded-lg p-4 shadow-sm">
        <span class="font-bold">{{ comment.author ? comment.author.username : 'Utilisateur inconnu' }} :</span>
        <p class="text-gray-700" style="word-break: break-word;">{{ comment.content }}</p>
        <p class="text-sm text-gray-500 mt-1">Posté le {{ comment.createdAt|date('d/m/Y') }}</p>
    </li>
{% endfor %}
